html,body,#weather_divs {
    height:100%;
    margin: 0px;
    padding:0px;
}

body {
    background-color: #fcf8ed;
    text-align:center;
}

#search_bar {
    
    width: 25%;
    text-align:center;
    position:absolute;
    height:1.5em;
    top: 0px;
    bottom: 0px;
    right:0px;
    left:0px;
    margin:auto;
    min-width:256px;
}

#search_bar input {
    background-color:rgba(208,224,188,0.5);
    border:none;
    border-radius: 7px;

    margin: 0 auto;
    padding: 0 8px;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /*For Firefox*/
    text-align: left;
    font-family: 'Microsoft YaHei light', helvetica, sans-serif;
}

#error_msg {
    position:relative;
    padding: 0 8px;
    bottom:5px;
    font-family: 'Microsoft YaHei light', helvetica, sans-serif;
    text-align:left;
    font-size:0.9em;
    background-color:#fcf8ed;
    border-radius:1px;
}

#error_msg.error {
    color:red;
}

#search_bar.found {

    position:absolute;
    width:256px;
    right:256px;
    bottom:50px;
    left:auto;
    top:auto;
}

#search_bar input:focus {
    outline: none;
    background-color:rgba(208,224,188,0.75);
}

form {

    position:absolute;
    width:100%;
    margin:auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.weather {
    background-color:black;
    float:right;
    height:100%;
    width: 256px;
    text-align:center;
}

.weather.rain {
    background-color:#80797f;
}

.weather.snow {
    background-color:#79bab9;
}

.weather.sunny {
    background-color:#f7eacb;
}

.weather.cloudy {
    background-color:#80797f;
}

.weather.icy {
    background-color:#79bab9;
}

.weather.sharknado {
    background-color:#a96033;
}
.weather .resizing_blocker {
    height:300px;
}

.weather .positioner {
    position:absolute;
    bottom:0;
}

.description {
    float:right;
    height: 100%;
}

.description .positioner {
    position:absolute;
    bottom:0;
}

.description_text {
    text-align:right;
    white-space: nowrap;

    position:absolute;
    bottom: 200px;
    right:10px;

    font-family: helvetica, sans-serif;
    font-weight:bold;
    font-size: 3em;
    color: darkgray;
}

.weather img {
    position:absolute;
    bottom:200px;
    left:64px;
}

.weekday {
    font-family: helvetica, sans-serif;
    font-weight:bold;
    font-size: 4em;
    color: white;
}